fastapi
uvicorn
python-multipart
pycaw
comtypes
pyautogui
pydirectinput
psutil
pystray
Pillow
qrcode
winrt-Windows.Devices.Radios
winrt-Windows.Foundation.Collections
winrt-Windows.Media.Control
vgamepad
